.verify-link>.box-shadow {
  margin: 5% auto;
  padding: 0 !important;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}

.padding-15 {
  padding: 35px;
}